<div class="col-sm-6 offset-md-3 signup-container list-item">
  <h2 class="item-title">Signup Form</h2>
  <form class="input-form" #signupForm="ngForm">
    <mat-form-field class="input-full-width">
      <input matInput type="text" placeholder="Username" [(ngModel)]="username" name="username" required>
    </mat-form-field>
    <span class="input-invalid" [hidden]="!validations['username']">{{validations['username']}}</span>

    <mat-form-field class="input-full-width">
      <input matInput type="email" placeholder="Email" [(ngModel)]="email" required name="email" (input)=emailChange()>
    </mat-form-field>
    <span class="input-invalid" [hidden]="!validations['email']">{{validations['email']}}</span>

    <mat-form-field class="input-full-width">
      <input matInput type="password" placeholder="Password" [(ngModel)]="password" required minlength="8" name="password" (input)=passwordChange()>
    </mat-form-field>
    <span class="input-invalid" [hidden]="!validations['password']">{{validations['password']}}</span>

    <mat-form-field class="input-full-width">
      <input matInput type="password" placeholder="Confirm Password" [(ngModel)]="cpassword" name="cpassword" (input)=cpasswordChange()
        required>
    </mat-form-field>
    <span class="input-invalid" [hidden]="!validations['cpassword']">{{validations['cpassword']}}</span>

    <mat-form-field class="input-full-width">
      <input matInput type="text" placeholder="Student ID" [(ngModel)]="studentId" name="studentId" minlength="9" maxlength="9"
        (input)=studentidChange() required>
    </mat-form-field>
    <span class="input-invalid" [hidden]="!validations['studentid']">{{validations['studentid']}}</span>

    <mat-form-field class="input-full-width">
      <mat-select placeholder="Major" required [(value)]="major">
        <mat-option *ngFor="let m of majors" [value]="m.pk">
          {{ m.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="input-invalid" [hidden]="!validations['major']">{{validations['major']}}</span>

    <!-- <div>{{ validations | json }}</div> -->

    <div>
      <button mat-raised-button color="primary" (click)=submit(signupForm)>Signup</button>
      <span class="disablemargintop input-invalid" [hidden]="!validations['formValid']">{{validations['formValid']}}</span>
    </div>

    <div>{{ signupError | json }}</div>
  </form>
</div>
