<div class="col-sm-6 offset-md-3 signup-container list-item">
  <h2 class="item-title">Forgot Password</h2>
  <form class="input-form" #forgotPasswordForm="ngForm">
    <mat-form-field class="input-full-width">
      <input matInput type="email" placeholder="Email" [(ngModel)]="email" name="email" required>
    </mat-form-field>
    <!-- <span class="input-invalid" [hidden]="!validations['username']">{{validations['username']}}</span> -->

    <div>
      <button mat-raised-button color="primary" (click)=submit(forgotPasswordForm)>Send email</button>
      <!-- <span class="disablemargintop input-invalid" [hidden]="!validations['formValid']">{{validations['formValid']}}</span> -->
    </div>

    <!-- <div>{{ signupError | json }}</div> -->
  </form>
</div>
